PACPOOL_PACD_URL=http://127.0.0.1:9509
PACPOOL_PACDATA_URL=http://127.0.0.1:9609
PACPOOL_MINING_ADDRESS=
PACPOOL_LISTEN=127.0.0.1:9809
PACPOOL_STRATUM_LISTEN=0.0.0.0:3333
PACPOOL_SHARE_DIFFICULTY=1
PACPOOL_VARDIFF=true
PACPOOL_VARDIFF_TARGET=15s
PACPOOL_DATADIR=/var/lib/pacpool
PACPOOL_INTERVAL=5s
PACPOOL_FEE_BPS=500
PACPOOL_ADMIN_TOKEN=
